@import url('https://fonts.googleapis.com/css?family=Raleway:200');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#box {
   
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 210px;
  color: white;
  font-size: 2.0rem;
}
.blink{
  /* animation:blinkingText 1.2s infinite; */
  font-size: 1.5rem;
}

@keyframes blinkingText{
  0%{     color:azure;    }
  49%{    color: azure; }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: azure;    }
}
#box1 {
   
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 210px;
  color: white;
  font-size: 1.7rem;
}
.gradient-border {
    margin-left: 40 px;
    margin-right: 50px;
    margin-top: 40px;
  --borderWidth: 10px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
   -webkit-animation: 1s ease 0s normal forwards 1 fadein;
    animation: 1s ease 0s normal forwards 1 fadein; 
}
.gradient-border1 {
  margin-left: 40 px;
  margin-right: 50px;
  margin-top: 40px;
--borderWidth: 10px;
background: #1D1F20;
position: relative;
border-radius: var(--borderWidth);
 -webkit-animation: 1s ease 0s normal forwards 1 fadein;
  animation: 1s ease 0s normal forwards 1 fadein; 
}

.count{
    color:azure;
    font-size: 50px;
    text-align: center;
    margin-left: 250px;
    
}
.gradient-border h1{
    margin-left: 40 px;
    margin-top: 80px;
  --borderWidth: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: var(--borderWidth);
  /* -webkit-animation: 3s ease 0s normal forwards 1 fadein;
    animation: 3s ease 0s normal forwards 1 fadein; */
}

.gradient-border1 h1{
  margin-left: 40 px;
  margin-top: 80px;
--borderWidth: 10px;
justify-content: center;
align-items: center;
position: relative;
border-radius: var(--borderWidth);
/* -webkit-animation: 3s ease 0s normal forwards 1 fadein;
  animation: 3s ease 0s normal forwards 1 fadein; */
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

.gradient-border:after {
  margin-left: 40 px;
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

.gradient-border1:after {
  margin-left: 40 px;
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.books {
    display: flex;
    flex-wrap: wrap;
    
  }

  .link {
    text-decoration: none;
  }
  .book {
    
    position: relative;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    width: 250px;
    height: 290px;
    color: #333;
    flex-basis: width;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(165, 230, 230); */
    transition: 0.5s;
    align-content: center;
    margin-left: 50px;
    overflow: hidden;
    
    -webkit-animation: 1s ease 0s normal forwards 1 fadein;
    animation: 1s ease 0s normal forwards 1 fadein; 
    /* background: #060c21; */
  }

.title{
      
      color: azure;
      font-size: 30px;
      margin-top:0px;
      
      justify-content: center;
      align-items: center;
}
  .head1{
      margin-top: 0px;
      color:midnightblue;
      font-size: 50px ;
      justify-content: center;
      align-items: center;
      margin-left: 350px;
  }
  .book:before{
      content:'';
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      background: #9bdc28;
      clip-path: circle(150px at 80% 20%);
      transition: 0.5s ease-in-out;
      z-index: -1;
  }

  .book:hover {
    height: 400px;  
    width:270px;
    
    background: rgb(55,12,131);
    /* background: linear-gradient(90deg, rgba(55,12,131,1) 0%, rgba(95,11,231,1) 50%, rgba(64,8,120,1) 100%); */
  }
 
 

  .book:after{
    content: 'COVID-19';
    position: absolute;
    top: 30%;
    left: -20%;
    /* right: -2px;
    bottom: -2px; */
    /* background: #fff; */
    font-size: 12em;
    font-weight: 1000;
    font-style: italic;
    color:purple;
    z-index: -2;
    filter: blur(40px);
    
}

  .book:before,
  .book:after{
    background: #1098ad
  }

  /* .book:nth-child(2):before,
  .book:nth-child(2):after
  {
    background: linear-gradient(235deg,#89ff00,#010615,#00bcd4)
  }

  .book:nth-child(3):before,
  .book:nth-child(3):after
  {
    background: linear-gradient(235deg,#772aff,#010615,#2196f3)
  }

  .book:nth-child(4):before,
  .book:nth-child(4):after
  {
    background: linear-gradient(235deg,#772aff,#010615,#2196f3)
  } */


  .book h3 {
    margin-bottom: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    opacity: 0.9;
    
  }

  .design1{
    margin-left: 20px;
    display: inline;
    color: aqua;
  }
  .book h1 {
    margin-bottom: 5px;
    opacity: 1;
    color: ivory;
    box-sizing: border-box;
    margin-left:70px;
    
  }

  .book:hover h3{
      opacity:1;
      color: ivory;
  }
  
  .book:hover h1{
    opacity:1;
    color: ivory;
}
  .book:hover h2{
    opacity:1;
    color:ivory;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  .book h2 {
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 1.5rem;
    color:azure;
    margin-left:40px;
  }
  
  
  .details {
    text-align: center;
    opacity: 0.9;
  }

  .details:hover{
      color: lavender;
      opacity: 1;
  }

  .first {
    align-self: center;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 60px;
  }
  
  .first2 {
    text-align: center;
    font-size: 30px;
  }
